* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  color: #499a18;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #717171;
}
$tablet: 768px;
$mobile: 380px;
.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: $tablet) {
    max-width: 668px;
  }
  @media (max-width: $mobile) {
    max-width: 330px;
  }
}
#app {
  background-color: #edf2ec;
}
//------------------------ HEADER
.header {
  &__container {
    padding: 42px 0 42px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      padding: 35px 0 35px;
    }
  }

  &__nav {
    width: 452px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
.menu {
  &__item {
  }

  &__link {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
  }
}

.logo {
  font-family: 'Inika';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.menu__item {
}
//------------------------ WELCOME
.welcome {
  &__container {
    padding: 62px 0 47px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      padding: 40px 0 70px;
    }
  }

  &__content {
    padding-top: 36px;
    width: 550px;
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    @media (max-width: $tablet) {
      font-size: 35px;
      @media (max-width: $tablet) {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
  &__subtitle {
    font-size: 15px;
    padding-top: 42px;
    width: 341px;
    line-height: 1.56;
  }
  &__img {
    @media (max-width: $tablet) {
      width: 280px;
      height: 254px;
      order: 1;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
.colored {
  color: #499a18;
}
//------------------------ ABOUT

.about {
  background: #fff;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 93px 0 94px;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      padding: 40px 0 95px;
    }
    @media (max-width: $mobile) {
      padding: 30px 0 30px;
    }
  }

  &__content {
    padding: 68px 0 61px;
    width: 605px;
    @media (max-width: $tablet) {
      padding: 0 0 40px;
    }
    @media (max-width: $mobile) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__title {
    font-family: 'Inika';
    @media (max-width: $tablet) {
      font-size: 35px;
      text-align: center;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
    }
  }
  &__subtitle {
    padding-top: 40px;
    line-height: 1.5;
    @media (max-width: $mobile) {
      padding-top: 21.5px;
      font-size: 15px;
    }
  }

  &__img {
    @media (max-width: $tablet) {
      width: 250px;
      height: 258px;
    }
    @media (max-width: $mobile) {
      width: 150px;
      height: 147px;
    }
  }
}
//------------------------ SERVICE
.service {
  &__container {
    padding: 35px 0 64px;
    @media (max-width: $tablet) {
      padding: 60px 0 70px;
    }
    @media (max-width: $mobile) {
      padding: 30px 0 27px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 81px;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-right: 142px;
    font-family: 'Inika';
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      margin-bottom: 35px;
    }
  }

  &__options {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $mobile) {
      width: 253px;
      height: 80px;
    }
  }

  &__option {
  }
}
.btn {
  width: 161px;
  height: 50px;
  text-align: center;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #e06733;
  @media (max-width: $mobile) {
    width: 121px;
    height: 35px;
    font-size: 15px;
  }
}
.grid-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  @media (max-width: $tablet) {
    height: 1426px;
  }
  @media (max-width: $mobile) {
    height: 100%;
    justify-content: center;
  }
}
.card {
  width: 330px;
  margin-right: 116px;
  margin-bottom: 55px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  &:nth-child(3) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &__details {
    padding: 10px 0 36px;
    text-align: center;
    @media (max-width: $tablet) {
      padding: 10px 0 20px;
    }
  }
  &__img {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    line-height: 1;
    color: #e06733;
    padding-bottom: 10px;
  }

  &__desc {
    @media (max-width: $tablet) {
      width: 201px;
      margin: auto;
    }
  }
  @media (max-width: $tablet) {
    width: 280px;
    margin: 0;
  }
  @media (max-width: $mobile) {
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
//------------------------ PRICES
.prices {
  background: #fff;
  &_btn {
    margin-bottom: 39px;
    font-weight: 700;
  }

  &__container {
    padding: 40px 0 115px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    @media (max-width: $tablet) {
      padding: 40px 0 88px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      padding: 25px 0 40px;
      text-align: center;
      align-items: center;
    }
  }

  &__content {
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 60px;
    @media (max-width: $tablet) {
      font-size: 35px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 40px;
    }
  }

  &__options {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    padding: 34px 41px;
    @media (max-width: $mobile) {
      padding: 29px 22px;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 250px;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 16px 40px;
    background: #edf2ec;
    border-radius: 20px;
    @media (max-width: $mobile) {
      margin-bottom: 14px;
    }
    &:last-child {
      margin: 0;
    }
  }

  &__item-name {
    font-weight: 700;
    line-height: 1;
    color: #000;
  }

  &__help {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $mobile) {
      align-items: center;
    }
  }

  &__help-title {
    margin-bottom: 38px;
    font-weight: 700;
    color: #000;
    line-height: 1.25;
    text-align: right;
    @media (max-width: $tablet) {
      font-size: 25px;
      line-height: 1.4;
    }
    @media (max-width: $mobile) {
      text-align: center;
      font-size: 20px;
      margin-bottom: 14px;
    }
  }

  &__img {
    width: 152px;
    height: 174.99px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
// ---------------------CONTACTS
.contacts {
  background: #edf2ec;
  &__container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      padding-top: 40px;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: $mobile) {
      padding-top: 25px;
    }
  }

  &__title {
    font-family: 'Inika';
    font-weight: 700;
    line-height: 1.3;
    @media (max-width: $mobile) {
      font-size: 25px;
    }
  }
}
.woman {
  @media (max-width: $tablet) {
    width: 200px;
    order: 2;
  }
  @media (max-width: $mobile) {
    width: 100px;
  }
}
.accordion {
  margin-top: 88px;
  padding: 0 20px 0;
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__text {
  }

  &__btn {
  }
  @media (max-width: $tablet) {
    margin-top: 100px;
    margin-bottom: 250px;
  }
  @media (max-width: $mobile) {
    margin-top: 80px;
    margin-bottom: 132px;
    width: 300px;
    height: 50px;
  }
}

.marker {
  background: url('./assets/img/marker.png');
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transition: all 0.3s linear;
}

.option {
  background-color: #333;
  padding: 0.8rem 1.25rem;
  border: 1px solid #555;
  cursor: pointer;
  &:hover {
    background-color: #444;
  }
}

.card__desc {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #717171;
}
.welcome__btn {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 48px;
  padding: 12px 25px;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: 0.4s;
  &:not(:disabled) {
    cursor: pointer;
  }
}
.active {
  color: #e06733;
}
// ---------------------FOOTER
.footer {
  background: #fff;
  &__container {
    padding: 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    line-height: 2.5;
    @media (max-width: $tablet) {
      padding: 32.5px 0 18px;
      flex-direction: column;
    }
    @media (max-width: $mobile) {
      padding: 21.7px 0 7px;
    }
  }
}

.footer-data {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-link {
  display: flex;
}

@media (max-width: 1000px) {
  .question {
    flex-direction: column;
  }
  .main__play {
    flex-direction: column;
  }
  .options {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card-details {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .card__img-container {
    flex-direction: column;
  }
}

.popup {
  display: none;
}
.burger-menu {
  display: none;
}
@media (max-width: $mobile) {
  .header__nav {
    display: none;
  }
  .burger-menu {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.active {
      & .bar:nth-child(1) {
        opacity: 0;
      }
      & .bar:nth-child(2) {
        transform: rotate(45deg);
      }
      & .bar:nth-child(3) {
        opacity: 0;
      }
      & .bar:nth-child(4) {
        transform: translateY(-15px) rotate(-45deg);
      }
    }
  }
  .bar {
    display: block;
    width: 40px;
    height: 2px;
    margin: 3px auto;
    background-color: #717171;
    transition: 0.3s;
  }
  .popup {
    position: fixed;
    top: 70px;
    right: -100%;
    background-color: #edf2ec;
    display: flex;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in;
    &.active {
      right: 0;
    }
    & .header__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
    }
  }
}
